<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header"></section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
    <div class="row">
      <div class="col-sm-12 col-xs-12" >
        <img height="325px" style="min-width: 350px;" src="https://s3.amazonaws.com/leapmind/contextManager/placa/img/logo-placa-provisoria.png">
      </div>
    </div>
    <p></p>
    <a class="btn btn-primary btn-lg" [routerLink]="['/recipes']">Receitas</a>
  </div>

</section>
<!-- FIM DO CONTEÚDO -->
